<h5 class="ml-3 mt-3" *ngIf="isedit">
    <strong>Credit Edit</strong>
</h5>
<div *ngIf="isedit" class="card">
    <div class="card-body" *ngIf="isedit">
      <div class="form-group row ">
        <!-- <label class="col-md-3 col-form-label" for="baseFullname"><strong>Select Contact Type</strong></label>
        <ng-template class="w-100" #cct let-qc="result" let-qt="term">
          <ngb-highlight [result]="qc.description" [term]="qt"></ngb-highlight>
        </ng-template> -->
        <span class="col-md-3 pt-2 col-form-label"> <strong>Select ContactType</strong></span>
        <div class="col-md-3 pt-2">
          <select [(ngModel)]="testmaster.contactTypeId" class="form-control"
              [ngClass]="{'is-invalid': submitted && product.taxGroupId == 0}">
              <option value="{{tax.id}}" *ngFor="let tax of conty">{{tax.description}}</option>
          </select>
          <!-- <span *ngIf="submitted && product.taxGroupId == 0" class="text-danger">Tax cannot be Empty*</span> -->
        </div>

        <span class="col-md-3 pt-2 col-form-label"> <strong>Select Contact</strong></span>
        <div class="col-md-3 pt-2">
          <select [(ngModel)]="testmaster.id" class="form-control"
              [ngClass]="{'is-invalid': submitted && product.taxGroupId == 0}">
              <option value="{{tax.id}}" *ngFor="let tax of Contact">{{tax.name}}</option>
          </select>
          <!-- <span *ngIf="submitted && product.taxGroupId == 0" class="text-danger">Tax cannot be Empty*</span> -->
        </div>
      </div>
      <div class="form-group row ">
        <!-- <label class="col-md-3 col-form-label" for="baseFullname"><strong>Select Contact Type</strong></label>
        <ng-template class="w-100" #cct let-qc="result" let-qt="term">
          <ngb-highlight [result]="qc.description" [term]="qt"></ngb-highlight>
        </ng-template> -->
        <span class="col-md-3 pt-2 col-form-label"> <strong>Select CreditType</strong></span>
        <div class="col-md-3 pt-2">
          <select [(ngModel)]="testmaster.creditTypeId" class="form-control"
              [ngClass]="{'is-invalid': submitted && product.taxGroupId == 0}">
              <option value="{{tax.id}}" *ngFor="let tax of crety">{{tax.name}}</option>
          </select>
          <!-- <span *ngIf="submitted && product.taxGroupId == 0" class="text-danger">Tax cannot be Empty*</span> -->
        </div>

        <span class="col-md-3 pt-2 col-form-label"> <strong>Payment</strong></span>
        <div class="col-md-3 pt-2">
          <!-- <select [(ngModel)]="testmaster.amount" class="form-control"
              [ngClass]="{'is-invalid': submitted && product.taxGroupId == 0}">
              <option value="{{tax.id}}" *ngFor="let tax of conty">{{tax.description}}</option>
          </select> -->
          <input type="text" [(ngModel)]="testmaster.amount" class="form-control">
          <!-- <span *ngIf="submitted && product.taxGroupId == 0" class="text-danger">Tax cannot be Empty*</span> -->
        </div>
      </div>
      <div class="form-group row ">
        <!-- <label class="col-md-3 col-form-label" for="baseFullname"><strong>Select Contact Type</strong></label>
        <ng-template class="w-100" #cct let-qc="result" let-qt="term">
          <ngb-highlight [result]="qc.description" [term]="qt"></ngb-highlight>
        </ng-template> -->
        <span class="col-md-3 pt-2 col-form-label"> <strong>Select Payment Mode</strong></span>
        <div class="col-md-3 pt-2">
          <select [(ngModel)]="testmaster.paymentTypeId" class="form-control"
              [ngClass]="{'is-invalid': submitted && product.taxGroupId == 0}">
              <option value="{{tax.id}}" *ngFor="let tax of payty">{{tax.description}}</option>
          </select>
          <!-- <span *ngIf="submitted && product.taxGroupId == 0" class="text-danger">Tax cannot be Empty*</span> -->
        </div>

        <span class="col-md-3 pt-2 col-form-label"> <strong>Select Location</strong></span>
        <div class="col-md-3 pt-2">
          <select [(ngModel)]="testmaster.storeId" class="form-control"
              [ngClass]="{'is-invalid': submitted && product.taxGroupId == 0}">
              <option value="{{tax.id}}" *ngFor="let tax of stor">{{tax.name}}</option>
          </select>
          <!-- <span *ngIf="submitted && product.taxGroupId == 0" class="text-danger">Tax cannot be Empty*</span> -->
        </div>
      </div>
      <div class="form-group row ">
        <!-- <label class="col-md-3 col-form-label" for="baseFullname"><strong>Select Contact Type</strong></label>
        <ng-template class="w-100" #cct let-qc="result" let-qt="term">
          <ngb-highlight [result]="qc.description" [term]="qt"></ngb-highlight>
        </ng-template> -->
        <span class="col-md-3 pt-2 col-form-label"> <strong>Responsible By</strong></span>
        <div class="col-md-3 pt-2">
          <select [(ngModel)]="testmaster.contactTypeId" class="form-control"
              [ngClass]="{'is-invalid': submitted && product.taxGroupId == 0}">
              <option value="{{tax.id}}" *ngFor="let tax of conty">{{tax.description}}</option>
          </select>
          <!-- <span *ngIf="submitted && product.taxGroupId == 0" class="text-danger">Tax cannot be Empty*</span> -->
        </div>

        <span class="col-md-3 pt-2 col-form-label"> <strong>Reference</strong></span>
        <div class="col-md-3 pt-2">
          <!-- <select [(ngModel)]="testmaster.contactTypeId" class="form-control"
              [ngClass]="{'is-invalid': submitted && product.taxGroupId == 0}">
              <option value="{{tax.id}}" *ngFor="let tax of conty">{{tax.description}}</option>
          </select> -->
          <input type="text" [(ngModel)]="testmaster.description" class="form-control">
          <!-- <span *ngIf="submitted && product.taxGroupId == 0" class="text-danger">Tax cannot be Empty*</span> -->
        </div>
      </div>
      
  
      <button type="button" class="btn btn-secondary px-5" (click)="locback()">Go Back</button>
      <button type="submit" class="btn btn-success px-5 pull-right" (click)="saveEdit()">Submit</button>
      <!-- <a href="javascript: void(0);"class="btn btn-success mt-3" (click)="testsave()"></a> -->
    </div>
</div>