<!-- <div> -->
<div class="cui__utils__heading" *ngIf="isShown">
  <strong>Credit Transactions - Index</strong>
  <button style="width: 80px;height: 30px; margin-left: 60%;" class="btn btn-primary " (click)="clickpay(1)">
    Back
  </button>
  <button type="button" class="btn btn-squared btn-success  pull-right" (click)="showSubItem(index)"> <i
      class="fa fa-search"></i> Advance Search </button>
  <div class="row" *ngIf="visibleIndex === index" style="background-color: aliceblue;height: 108px; margin-top: 20px;">
      <div class="col-xl-2 mt-1 text-left">
        <ng-template class="w-100" #catrgy let-r="result" let-t="term">
          <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
        </ng-template>
        <div style="height: 84%; position: relative;">
          <input id="typeahead-template" style="height: 100%;" #instance="ngbTypeahead" type="text"
              (input)="arrayName = ''; searchField = 'name'"
              class="form-control" [(ngModel)]="term" placeholder="Order ID..."
              [ngbTypeahead]="c_search" [resultTemplate]="catrgy" [inputFormatter]="formatter"
              (selectItem)="selectedItem($event.item)" />
        </div>
      </div>
      <div class="col-xl-2">
          <div>
              <ng-template class="w-100" #prd let-r="result" let-t="term">
                  <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
              </ng-template>
              <div style="height: 84%; position: relative;">
                  <!-- <input id="typeahead-template" style="height: 100%;" #instance="ngbTypeahead" type="text"
                      (input)="arrayName = 'products'; searchField = 'name'" autocomplete="off"
                      class="form-control"  placeholder="Search Products"
                      [ngbTypeahead]="c_search" [resultTemplate]="prd" [inputFormatter]="formatter"
                      (selectItem)="selectedItem($event.item)" /> -->
              </div>
          </div>
      </div>
      <div class="col-xl-2 mt-1 text-left">
          <ng-template class="w-100" #prdtxt let-r="result" let-t="term">
              <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
          </ng-template>
          <div style="height: 84%; position: relative;">
              <!-- <input id="typeahead-template" style="height: 100%;" #instance="ngbTypeahead" type="text"
                  (input)="arrayName = ''; searchField = 'name'" autocomplete="off" class="form-control"
                   placeholder="Search Products Text" [ngbTypeahead]="c_search"
                  [resultTemplate]="prdtxt" [inputFormatter]="formatter" (selectItem)="selectedItem($event.item)" /> -->
          </div>
      </div>
      <div class="col-xl-2 mt-1 text-left">
          <input type="text" class="form-control" placeholder="BillId">
      </div>
      <div class="col-xl-2 mt-1 text-left">
          <ng-template class="w-100" #vndr let-r="result" let-t="term">
              <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
          </ng-template>
          <div style="height: 84%; position: relative;">
              <!-- <input id="typeahead-template" style="height: 100%;" #instance="ngbTypeahead" type="text"
                  (input)="arrayName ='vendors'; searchField ='name'" autocomplete="off" class="form-control"
                   placeholder="Search Vendors" [ngbTypeahead]="c_search"
                  [resultTemplate]="vndr" [inputFormatter]="formatter" (selectItem)="selectedItem($event.item)" /> -->
          </div>
      </div>
      <div class="col-md-2 mt-1">
          <select class="form-control">
              <option value=""> Search spl Order </option>
              <option value=""> Special Order </option>
              <option value="">Other Order </option>
          </select>
      </div>
      <div class="col-md-2 mt-1">
          <select class="form-control">
              <option value=""> Search Maintenance Order </option>
              <option value=""> Maintenance Order </option>
              <option value="">Other Order </option>
          </select>
      </div>
      <div class="col-md-2 mt-1">
          <select class="form-control">
              <option value=""> Show 100 Records </option>
              <option value=""> Show 1 Records </option>
              <option value="">Show 1000 Records </option>
              <option value="">Show All Records </option>
          </select>
      </div>
      <div class="col-md-2 mt-1">
          <select class="form-control">
              <option value=""> Search Cancel Status </option>
              <option value=""> Review Closed</option>
              <option value="">Closed </option>
              <option value="">Partial </option>
              <option value="">Open </option>
          </select>
      </div>
      <div class="col-md-2 mt-1">
          <select class="form-control">
              <option value=""> Search Review Status </option>
              <option value=""> Review Closed </option>
              <option value="">Closed </option>
              <option value="">Partial </option>
              <option value="">Open </option>
          </select>
      </div>
      <div class="col-md-2 mt-1">
          <select class="form-control">
              <option value=""> Search spl Order </option>
              <option value=""> Special Order </option>
              <option value="">Other Order </option>
          </select>
      </div>
    </div><br>
</div>
<div class="card" *ngIf="isShown">

  <!-- <form nz-form  *ngIf="isTable">
  <nz-form-item>
    <nz-form-label [nzSpan]="5">Error</nz-form-label>
    <nz-form-control [nzSpan]="12" nzValidateStatus="error" nzHasFeedback>
      <nz-select name="select-error" [ngModel]="test.contacttypeId" (ngModelChange)="getcontacttypeid()">
        <nz-option nzValue="Option 1" nzLabel="Option 1"></nz-option>
        <nz-option nzValue="{{pcatt.id}}" nzLabel={{pcatt.description}}></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
</form> -->
  <div class="card-header card-header-flex" *ngIf="isShown">
      <div class="d-flex flex-column justify-content-center mr-auto">
        <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
          <input type="text" [(ngModel)]="term" nz-input placeholder="input search text" (input)="filtersearch()" />
        </nz-input-group>
        <ng-template #suffixIconButton>
          <button nz-button nzType="primary" nzSearch><i nz-icon nzType="search"></i></button>
        </ng-template>
      </div>
      <div class="col-xl-2 pt-3">
        <select class="form-control" [(ngModel)]="billstatusid" (ngModelChange)="BillstsId()">
              <option value=null disabled><strong>BillStatus</strong></option>
              <option *ngFor="let pcat of BillStatus" value="{{pcat.id}}">{{pcat.status}}</option>
          </select>
      </div>
      <div class="d-flex flex-column justify-content-center">
        <a class="btn btn-success" (click)="locback()">Credit</a>
        <!-- <button class="btn btn-success" (click)="locback()">Credit</button> -->
      </div>
  </div>
  <nz-table #basicTable [nzData]="CreditDatatest" class="kit__utils__table mb-4" nzSize="small" *ngIf="isShown">
    <thead>
      <tr>
        <th><strong>TransId </strong> </th>
        <th><strong> Contact</strong></th>
        <th><strong>ContactType </strong></th>
        <th><strong> Location</strong></th>
        <th><strong>Amount </strong></th>
        <th><strong>Balance </strong></th>
        <th><strong> Reference</strong> </th>
        <th><strong>TransDate </strong></th>
        <th><strong> Action</strong></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ord of basicTable.data| filter:term">
        <td>
          {{ord.billTransId}}
        </td>
        <td>
          {{ord.name}}
        </td>
        <td>
          <!-- <span *ngIf="ord.contactTypeId == 3">Employee</span>
          <span *ngIf="ord.contactTypeId == 4">Vendor</span>
          <span *ngIf="ord.contactTypeId == 5">Affiliate</span>
          <span *ngIf="ord.contactTypeId == 6">BankAccount</span>
          <span *ngIf="ord.contactTypeId == 9">Location</span>
          <span *ngIf="ord.contactTypeId == 11">Customer</span>
          <span *ngIf="ord.contactTypeId == 12">Others</span> -->
          {{ord.contactType}}
        </td>
        <td>
          {{ord.location}}
        </td>
        <td>
          &#8377; {{ord.billAmount | number: ".2"}}
        </td>
        <td>
          &#8377; {{ord.balance | number: ".2"}}
        </td>
        <td>
          {{ord.description}}
        </td>
        <td>
          {{ord.transDate}}
        </td>
        <td>
          <div class="btn-group mr-2 mb-2">
            <a (click)="crerepay(ord.contactId)" href="javascript: void(0);" class="btn btn-sm btn-light " nzTooltipTitle="Repay" nz-tooltip>
              <i class="fe fa-lg fe-dollar-sign"></i>
            </a>
            <!-- <a  href="javascript: void(0);"  routerLink="/apps/creditrepay/{{ord.contactId}}" 
            class="btn btn-sm btn-light pull-left">
              <i class="fe fa-lg fe-dollar-sign"></i>
            </a>  -->
            <a href="javascript: void(0);" routerLink="/apps/creditdetails/{{ord.transactionId}}"
              class="btn btn-sm btn-light pull-left" nzTooltipTitle="Details" nz-tooltip>
              <i class="fe fa-lg fe-info"></i>
            </a>
          </div>
        </td>
      </tr>
      <!-- <button *ngIf="isShown" (click)="locback()">Go Back</button> -->
      <!-- <ngb-pagination [collectionSize]="20" [(page)]="page" aria-label="Default pagination"></ngb-pagination> -->
    </tbody>
  </nz-table>
</div>
<!-- </div> -->

<!-- ------ Credit Payment  ----------- -->
<h5 class="ml-3 mt-3" *ngIf="isTable">
  <strong>Credit Payment</strong>
</h5>

<div *ngIf="isTable" class="card">
  <div class="card-body" *ngIf="isTable">
    <div class="form-group row autocomplete">
      <label class="col-md-3 col-form-label" for="baseFullname"><strong>Select Contact Type</strong><span style="color: red;">*</span></label>
      <ng-template class="w-100" #cct let-qc="result" let-qt="term">
        <ngb-highlight [result]="qc.description" [term]="qt"></ngb-highlight>
      </ng-template>
      <div class="col-md-3">
        <select class="form-control" [(ngModel)]="test.contacttypeId" (ngModelChange)="getcontacttypeid()" 
        [ngClass]="{'is-invalid': submitted && test.contacttypeId == 0}" autofocus="autofocus">
          <option value=null>Select ContactType</option>
            <option *ngFor="let pcatt of inputvalue.contactType" value="{{pcatt.id}}">{{pcatt.description}}</option>
          </select>
      </div>

      <label  class="col-md-3 col-form-label" for="baseFullname"><strong>Select Contact</strong>
        <span style="color: red;">*</span></label>
      <ng-template class="w-100" #ct let-c="result" let-t="term">
        <ngb-highlight [result]="c.name" [term]="t"></ngb-highlight>
      </ng-template>
      <div class="col-md-3">
          <select class="form-control" [(ngModel)]="test.contactId" (ngModelChange)="getcontactid()">
            <option value=null>Select Contact</option>
            <option *ngFor="let pcatt of Contact" value="{{pcatt.id}}">{{pcatt.name}}</option>
          </select>
      </div>
    </div>
    <div class="form-group row ">
      <label class="col-md-3 col-form-label" for="baseFullname"><strong>Select CreditType</strong></label>
      <ng-template class="w-100" #crt let-cc="result" let-ct="term">
        <ngb-highlight [result]="cc.name" [term]="ct"></ngb-highlight>
      </ng-template>
      <div class="col-md-3">
        <select class="form-control" [(ngModel)]="test.creditid" (ngModelChange)="credittypeid()">
          <option value=null>Select CreditType</option>
            <option *ngFor="let pcatt of inputvalue.creditType" value="{{pcatt.id}}">{{pcatt.name}}</option>
          </select>
      </div>

      <label class="col-md-3 col-form-label" for="baseFullname"><strong>Payment</strong>
        <span style="color: red;">*</span></label>
      <ng-template class="w-100" #ct let-c="result" let-t="term">
        <ngb-highlight  [result]="c.name" [term]="t"></ngb-highlight>
      </ng-template>
      <div class="col-md-3">
        <input #payment type="number" class="form-control" [(ngModel)]="test.payment" name="example_name" value=""
          (ngModelChange)="getamountfun()" placeholder="Enter Payment" 
          [ngClass]="{'is-invalid': submitted && test.payment == 0}" (keyup.enter)="paymentmode.focus()"/>
      </div>
    </div>
    <div class="form-group row ">
      <label class="col-md-3 col-form-label" for="baseFullname"><strong>Select Payment Mode</strong>
        <span style="color: red;">*</span></label>
      <ng-template class="w-100" #cct let-qc="result" let-qt="term">
        <ngb-highlight [result]="qc.description" [term]="qt"></ngb-highlight>
      </ng-template>
      <div class="col-md-3">
          <select class="form-control" [(ngModel)]="test.paymenttypeid" (ngModelChange)="getpaymenttypeid()">
            <option value=null>Select PaymentMode</option>
              <option *ngFor="let pcatt of inputvalue.paymentType" value="{{pcatt.id}}">{{pcatt.description}}</option>
            </select>
      </div>

      <label class="col-md-3 col-form-label" for="baseFullname"><strong>Select Location</strong>
        <span style="color: red;">*</span></label>
      <ng-template class="w-100" #ct let-c="result" let-t="term">
        <ngb-highlight [result]="c.name" [term]="t"></ngb-highlight>
      </ng-template>
      <div class="col-md-3">
        <input #location contactautocomplete #instance="ngbTypeahead" type="text" class="form-control"
          placeholder="Search Location" [ngbTypeahead]="searchlocation" [inputFormatter]="formatterlocation"
          [resultTemplate]="ct" (selectItem)="selectedlocation($event.item)" 
          [ngClass]="{'is-invalid': submitted && test.locationid == 0}" (keyup.enter)="response.focus()"/>

          <!-- <select class="form-control" [(ngModel)]="test.locationid" (ngModelChange)="getlocationid()">
            <option value=null>Select PaymentMode</option>
              <option *ngFor="let pcatt of inputvalue.store" value="{{pcatt.id}}">{{pcatt.name}}</option>
            </select> -->
      </div>
    </div>
    <div class="form-group row ">
      <label class="col-md-3 col-form-label" for="baseFullname"><strong>Responsible By</strong></label>
      <ng-template class="w-100" #rt let-qr="result" let-qt="term">
        <ngb-highlight [result]="qr.name" [term]="qt"></ngb-highlight>
      </ng-template>
      <div class="col-md-3">
        <!-- <input #response #contactautocomplete #instance="ngbTypeahead" type="text" class="form-control"
          placeholder="Search ResponsibleBy" [ngbTypeahead]="searchresponsible" [inputFormatter]="formatterresponsible"
          [resultTemplate]="rt" (selectItem)="selectedresponsible($event.item)" (keyup.enter)="reference.focus()"/> -->
          <select class="form-control" [(ngModel)]="test.responsiblebyid" (ngModelChange)="getcontactid()">
            <option value=null>Select Contact</option>
            <option *ngFor="let pcatt of Contact" value="{{pcatt.id}}">{{pcatt.name}}</option>
          </select>
      </div>

      <label class="col-md-3 col-form-label" for="baseFullname"><strong>Reference</strong></label>
      <div class="col-md-3">
        <input #reference type="text" class="form-control" [(ngModel)]="test.reference" name="example_name" value=""
          (ngModelChange)="getreferencefun()" placeholder="Enter Reference" />
      </div>
    </div>

    <button type="button" class="btn btn-secondary px-5" (click)="locback()">Go Back</button>
    <button type="submit" class="btn btn-success px-5 pull-right" (click)="SaveCredit()">Submit</button>
    <!-- <a href="javascript: void(0);"class="btn btn-success mt-3" (click)="testsave()"></a> -->
  </div>
</div>

<!-- ------CREDIT REPAY------- -->

<h5 class="ml-3 mt-3" *ngIf="isRepay">
  <strong>Credit Repay</strong>
</h5>
<!-- <div *ngIf="isRepay" class="card"> -->
  <div class="card-body" *ngIf="isRepay">
    <div class="form-group row ">
      <label class="col-md-3 col-form-label" for="baseFullname"><strong>Select Contact</strong>
        <span style="color: red;">*</span></label>
      <ng-template class="w-100" #cct let-qc="result" let-qt="term">
        <ngb-highlight [result]="qc.name" [term]="qt"></ngb-highlight>
      </ng-template>
      <div class="col-md-3">
        <input id="contact" #contactautocomplete #instance="ngbTypeahead" type="text" class="form-control"
          placeholder="Select Contact" [ngbTypeahead]="searchrecontact" [inputFormatter]="formatterrecontact"
          [resultTemplate]="cct" (selectItem)="selectedrecontact($event.item)" (keyup.enter)="clickrepaytable();paymode.focus()"
          style="font-weight: bold;" autofocus="autofocus"/>
      </div>
      <!-- <strong *ngIf="taxgroup.id==0">Add TaxGroup</strong>
      <strong *ngIf="taxgroup.id > 0">Edit TaxGroup</strong> -->

      <label class="col-md-3 col-form-label" for="baseFullname"><strong>Actual Repay</strong></label>
      <ng-template  class="w-100" #ct let-c="result" let-t="term">
        <ngb-highlight [result]="" [term]="t"></ngb-highlight>
      </ng-template>
      <div class="col-md-3">
        <input #contactautocomplete disabled #instance="ngbTypeahead" type="text" class="form-control"
          placeholder="Actual Repay" [ngbTypeahead]="searchcontact" [inputFormatter]="formattercontact"
          [resultTemplate]="ct" (selectItem)="selectedcontact($event.item)" />
      </div>
    </div>
    <div class="form-group row ">
      <label class="col-md-3 col-form-label" for="baseFullname"><strong>Select Payment Mode</strong>
        <span style="color: red;">*</span></label>
      <ng-template class="w-100" #cctp let-qcp="result" let-qpt="term">
        <ngb-highlight [result]="qcp.description" [term]="qpt"></ngb-highlight>
      </ng-template>
      <div class="col-md-3">
        <!-- <input #paymode #contactautocomplete #instance="ngbTypeahead" type="text" class="form-control"
          placeholder="Search Payment Mode" [ngbTypeahead]="searchpaymenttype" [inputFormatter]="formatterpaymenttype"
          [resultTemplate]="cctp" (selectItem)="selectedpaymenttype($event.item)" 
          [ngClass]="{'is-invalid': submitted && test.paymenttypeid == 0}" (keyup.enter)="pmt.focus()"/> -->

          <select #paymode class="form-control" [(ngModel)]="test.paymenttypeid" (ngModelChange)="getpaymenttypeid()">
            <option value=null>Select PaymentMode</option>
              <option *ngFor="let pcatt of inputvalue.paymentType" value="{{pcatt.id}}">{{pcatt.description}}</option>
            </select>
      </div>

      <label class="col-md-3 col-form-label" for="baseFullname"><strong>Commission%</strong></label>
      <ng-template class="w-100" #ct let-c="result" let-t="term">
        <ngb-highlight [result]="c.name" [term]="t"></ngb-highlight>
      </ng-template>
      <div class="col-md-3">
        <input type="number" disabled class="form-control"  name="example_name" value=""
          (ngModelChange)="getamountfun()" placeholder="Enter Payment" />
      </div>
    </div>
    <div class="form-group row ">
      <label class="col-md-3 col-form-label" for="baseFullname"><strong>Payment</strong>
        <span style="color: red;">*</span></label>
      <ng-template class="w-100" #ct let-c="result" let-t="term">
        <ngb-highlight [result]="c.name" [term]="t"></ngb-highlight>
      </ng-template>
      <div class="col-md-3">
        <input #pmt type="number" class="form-control" [(ngModel)]="test.payment" name="example_name" value=""
          (ngModelChange)="getamountfun()" placeholder="Enter Payment" 
          [ngClass]="{'is-invalid': submitted && test.payment == 0}" (keyup.enter)="refer.focus()"/>
      </div>

      <label class="col-md-3 col-form-label" for="baseFullname"><strong>Reference</strong></label>
      <div class="col-md-3">
        <input #refer type="text" class="form-control" [(ngModel)]="test.reference" name="example_name" value=""
          (ngModelChange)="getreferencefun()" placeholder="Enter Reference" (keyup.enter)="loca.focus()"/>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 col-form-label" for="baseFullname"><strong>Location</strong>
        <span style="color: red;">*</span></label>
      <ng-template class="w-100" #crt let-c="result" let-t="term">
        <ngb-highlight [result]="c.name" [term]="t"></ngb-highlight>
      </ng-template>
      <div class="col-md-3">
        <input #loca #contactautocomplete #instance="ngbTypeahead" type="text" class="form-control"
          placeholder="Search Location" [ngbTypeahead]="searchlocation" [inputFormatter]="formatterlocation"
          [resultTemplate]="crt" (selectItem)="selectedlocation($event.item)" 
          [ngClass]="{'is-invalid': submitted && test.locationid == 0}"/>
      </div>

      <!-- <label class="col-md-3 col-form-label" for="baseFullname"><strong>Location</strong></label>
      <ng-template class="w-100" #crtt let-cccc="result" let-t="term">
        <ngb-highlight [result]="cccc.name" [term]="t"></ngb-highlight>
      </ng-template>
      <div class="col-md-3 pt-2">
          <select [(ngModel)]="test.locationid" class="form-control" (ngModelChange)="getlocationfun($event)"
            >
              <option value=null disabled>Please Select</option>
              <option value="{{tax.id}}" *ngFor="let tax of stor">{{tax.name}}</option>
          </select>
        </div> -->


      <label class="col-md-3 col-form-label" for="formControlRange"><strong>Transaction Date</strong></label>
      <div class="col-md-3 pt-2">
        <nz-date-picker class="form-control" [(ngModel)]="date" (ngModelChange)="onChangetime($event)"></nz-date-picker>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 col-form-label" for="formControlRange"> <strong>Total Balance</strong></label>
      <div class="col-md-3 pt-2">
        <input type="text" class="form-control" disabled [(ngModel)]="totalbls" name="example_name" value="" style="font-weight: bold;"
          placeholder=" TotalBalance..." />
      </div>
    </div>

    <button type="button" class="btn btn-secondary px-5" (click)="back()">Go Back</button>
    <button type="submit" class="btn btn-success px-5 pull-right" (click)="saverepaydata()">Submit</button>
    <!-- <a href="javascript: void(0);"class="btn btn-success mt-3" (click)="testsave()"></a> -->
  </div>
  <div class="card kit__utils__cardMarked kit__utils__cardMarked--primary mx-5" *ngIf="isRepaytable"> 
    <nz-table #basicTable class="kit__utils__table mb-4" [nzData]="repay"  nzSize="small" *ngIf="isRepaytable">
      <thead>
        <tr>
          <th><strong>BillId </strong> </th>
          <th><strong>Contact </strong></th>
          <th><strong>Bill Date</strong> </th>
          <th><strong>Credit Amount </strong> </th>
          <th><strong>Paid Amount </strong></th>
          <th><strong>Balance Amount </strong> </th>
          <th><strong> Payment</strong></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ord of basicTable.data">
          <td>
            {{ord.billId}}
          </td>
          <td>
            {{ord.name}}
          </td>
          <td>
            {{ord.billDate}}
          </td>
          <td>
            &#8377;{{ord.billAmount}}
          </td>
          <td>
            &#8377;{{ord.paidAmount}}
          </td>
          <td>
            &#8377;{{ord.billAmount - ord.paidAmount}}
          </td>
          <td>
            <input type="text" class="form-control" [(ngModel)]="test.payment">
          </td>

        </tr>
      </tbody>
    </nz-table>
  </div> 

<!-- Credit Repay-List -->
<div class="cui__utils__heading" *ngIf="isRepaymain">
  <strong>Credit Repay - Index</strong>
  <button style="width: 80px;height: 30px; margin-left: 80%;" class="btn btn-primary " (click)="clickrepay(1)">
    Back
  </button>
</div>
<div class="card" *ngIf="isRepaymain">
  <div class="card-header card-header-flex" *ngIf="isRepaymain">
    <div class="d-flex flex-column justify-content-center mr-auto">
      <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
        <input type="text" [(ngModel)]="term" nz-input placeholder="input search text" (input)="filtersearch()" />
      </nz-input-group>
      <ng-template #suffixIconButton>
        <button nz-button nzType="primary" nzSearch><i nz-icon nzType="search"></i></button>
      </ng-template>
    </div>
    <div class="d-flex flex-column justify-content-center">
      <button class="btn btn-success"
      (click)="repaybtn()">REPAY</button>
    </div>
    <!-- <div class="col-md-3 pt-3"> -->
      <!-- <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
        <input type="text" [(ngModel)]="term" nz-input placeholder="input search text" (input)="filtersearch()" />
      </nz-input-group>
      <ng-template #suffixIconButton>
        <button nz-button nzType="primary" nzSearch><i nz-icon nzType="search"></i></button>
      </ng-template> -->
      <!-- <button class="btn btn-success" style="width: 80px; height: 30px;margin-top: 10px;"
        (click)="repaybtn()">REPAY</button> -->
        <!-- <a href="javascript: void(0);" routerLink="/apps/creditrepay/{{ord.contactId}}"
        class="btn btn-sm btn-light ">
        <button >REPAY</button>
      </a> -->
    <!-- </div> -->

    <!-- <button type="button" class="btn btn-primary" (click)="clickpay(1)">Back</button> -->
  </div>
  <nz-table #basicTable [nzData]="CreditDatatestt" class="kit__utils__table mb-4" nzSize="small" *ngIf="isRepaymain">
    <thead>
      <tr>
        <th><strong>TransId </strong> </th>
        <th><strong> Contact</strong></th>
        <th><strong>ContactType </strong></th>
        <th><strong> Location</strong></th>
        <th><strong>CreditAmount</strong></th>
        <th><strong>Amount </strong></th>
        <th><strong>Balance</strong> </th>
        <!-- <th><strong>Balance </strong></th> -->
        <th><strong> Reference</strong> </th>
        <th><strong>TransDate </strong></th>
        <th><strong> Action</strong></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ord of basicTable.data |filter: term">
        <td>
          {{ord.transactionId}}
        </td>
        <td>
          {{ord.name}}
        </td>
        <td>
          <!-- <span *ngIf="ord.contactTypeId == 3">Employee</span>
          <span *ngIf="ord.contactTypeId == 4">Vendor</span>
          <span *ngIf="ord.contactTypeId == 5">Affiliate</span>
          <span *ngIf="ord.contactTypeId == 6">BankAccount</span>
          <span *ngIf="ord.contactTypeId == 9">Location</span>
          <span *ngIf="ord.contactTypeId == 11">Customer</span>
          <span *ngIf="ord.contactTypeId == 12">Others</span> -->
          {{ord.contactType}}
        </td>
        <td>
          {{ord.location}}
        </td>
        <td>
          &#8377; {{ord.billAmount}}
        </td>
        <td>
          &#8377; {{ord.amount}}
        </td>
        <td>
          &#8377; {{ord.balance}}
        </td>
        <!-- <td>
          &#8377; {{ord.balance}}
        </td> -->
        <td>
          {{ord.description}}
        </td>
        <td>
          {{ord.transDate}}
        </td>
        <td>
          <div class="btn-group mr-2 mb-2">
            <!-- <a (click)="repaydolar(ord.contactId)" href="javascript: void(0);" class="btn btn-sm btn-light ">
              <i class="fe fa-lg fe-dollar-sign"></i>
            </a> -->
            <a href="javascript: void(0);" routerLink="/apps/editcreditdetails/{{ord.transactionId}}"
              class="btn btn-sm btn-light pull-left" slot="actions" nzTooltipTitle="Details" nz-tooltip>
              <i class="fe fa-lg fe-info"></i>
            </a>
            <!-- <a class="btn btn-sm btn-light" href="javascript: void(0);" (click)="openCustomClass(vertical)"
              class="btn btn-sm btn-light pull-left" slot="actions">
              <i class="fe fa-lg fe-info"></i>
            </a>             -->
            <!-- <a href="javascript: void(0);" (click)="getCreditData(ord.billId,contentdetail1);"
                class="btn btn-sm btn-light ">
                <i class="fe fa-lg fe-edit" aria-hidden="true"></i>
              </a> -->
            <a href="javascript: void(0);" routerLink="/apps/editcreditrepay/{{ord.transactionId}}"
              class="btn btn-sm btn-light " nzTooltipTitle="Edit" nz-tooltip>
              <i class="fe fa-lg fe-edit" aria-hidden="true"></i>
            </a>
            <a href="javascript: void(0);" (click)="Delete(ord.transactionId, ord.billId, ord.amount)" class="btn btn-sm btn-light pull-left"
              slot="actions" nzTooltipTitle="Delete" nz-tooltip>
              <i class="fe fa-lg fe-trash-2"></i>
            </a>
          </div>
        </td>
      </tr>
      <!-- <button *ngIf="isShown" (click)="locback()">Go Back</button> -->
      <!-- <ngb-pagination [collectionSize]="20" [(page)]="page" aria-label="Default pagination"></ngb-pagination> -->
    </tbody>
  </nz-table>
</div>



<!-- Credit-Index -->
<div class="row" *ngIf="isIndex">
  <div class="col-md-6 ">
    <!-- <div class="mb-4 px-3 py-2 bg-light">.col-md-6</div> -->
    <!-- <div class="row"> -->
    <!-- <div class="col-xl-6 col-lg-12"> -->
    <div class="card">
      <!-- <div class="card-header card-header-flex"> -->
      <!-- <div class="d-flex flex-column justify-content-center mr-auto">
              <h5 class="mb-0">Basic Card</h5>
            </div> -->
      <!-- <div class="d-flex flex-column justify-content-center">
              <button type="button" class="btn btn-light" nz-dropdown [nzDropdownMenu]="menu" nzTrigger="click"
                nzPlacement="bottomRight">
                <i class="fe fe-more-vertical"></i>
              </button>
              <nz-dropdown-menu #menu="nzDropdownMenu">
                <ul nz-menu>
                  <li nz-menu-item><a href="javascript:;">Action</a></li>
                  <li nz-menu-item><a href="javascript:;">Another action</a></li>
                  <li nz-menu-item><a href="javascript:;">Something else here</a></li>
                  <li nz-menu-divider></li>
                  <li nz-menu-item><a href="javascript:;">Separated link</a></li>
                </ul>
              </nz-dropdown-menu>
            </div> -->
      <!-- </div> -->
      <div class="card-body">
        <!-- Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
        Ipsum has been the industry&apos;s standard dummy text ever since the 1500s, when an
        unknown printer took a galley of type and scrambled it to make a type specimen book.
        It has survived not only five centuries, but also the leap into electronic
        typesetting, remaining essentially unchanged.
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
        Ipsum has been the industry&apos;s standard dummy text ever since the 1500s, when an
        unknown printer took a galley of type and scrambled it to make a type specimen book.
        It has survived not only five centuries, but also the leap into electronic
        typesetting, remaining essentially unchanged. -->
        <a (click)="clickpay(0)" href="javascript: void(0);" class="btn btn-sm btn-light ">
          <i class="fe fa-5x classes fe-dollar-sign"></i>
        </a>
      </div>
      <button type="button" class="btn btn-primary" (click)="clickpay(0)">Credit-PAY</button>
    </div>
    <!-- </div> -->
    <!-- </div> -->
  </div>
  <div class="col-md-6">
    <!-- <div class="mb-4 px-3 py-2 bg-light">.col-md-6</div> -->
    <!-- <div class="row"> -->
    <!-- <div class="col-xl-6 col-lg-12"> -->
    <div class="card ">
      <!-- <div class="card-header card-header-flex"> -->
      <!-- <div class="d-flex flex-column justify-content-center mr-auto">
          <h5 class="mb-0">Basic Card</h5>
        </div> -->
      <!-- <div class="d-flex flex-column justify-content-center">
              <button type="button" class="btn btn-light" nz-dropdown [nzDropdownMenu]="menu" nzTrigger="click"
                nzPlacement="bottomRight">
                <i class="fe fe-more-vertical"></i>
              </button>
              <nz-dropdown-menu #menu="nzDropdownMenu">
                <ul nz-menu>
                  <li nz-menu-item><a href="javascript:;">Action</a></li>
                  <li nz-menu-item><a href="javascript:;">Another action</a></li>
                  <li nz-menu-item><a href="javascript:;">Something else here</a></li>
                  <li nz-menu-divider></li>
                  <li nz-menu-item><a href="javascript:;">Separated link</a></li>
                </ul>
              </nz-dropdown-menu>
            </div> -->
      <!-- </div> -->
      <div class="card-body">
        <!-- Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
        Ipsum has been the industry&apos;s standard dummy text ever since the 1500s, when an
        unknown printer took a galley of type and scrambled it to make a type specimen book.
        It has survived not only five centuries, but also the leap into electronic
        typesetting, remaining essentially unchanged.
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
        Ipsum has been the industry&apos;s standard dummy text ever since the 1500s, when an
        unknown printer took a galley of type and scrambled it to make a type specimen book.
        It has survived not only five centuries, but also the leap into electronic
        typesetting, remaining essentially unchanged. -->
        <a (click)="clickrepay(0)" href="javascript: void(0);" class="btn btn-sm btn-light ">
          <i class="fa fa-5x classes fa-repeat"></i>
        </a>
      </div>
      <button type="button" class="btn btn-primary" (click)="clickrepay(0)">Credit-REPAY</button>
    </div>

    <!-- </div> -->
    <!-- </div> -->
  </div>
</div>


<h5 class="ml-3 mt-3" *ngIf="isedit">
  <strong>Credit Repayment</strong>
</h5>
<!-- <div *ngIf="isRepay" class="card"> -->
  <div class="card-body" *ngIf="isedit">
    <div class="form-group row ">
      <label class="col-md-3 col-form-label" for="baseFullname"><strong>Select Contact</strong></label>
      <ng-template class="w-100" #cct let-qc="result" let-qt="term">
        <ngb-highlight [result]="qc.name" [term]="qt"></ngb-highlight>
      </ng-template>
      <div class="col-md-3">
        <input type="text" class="form-control"
          placeholder="Select Contact" disabled [(ngModel)]="cal.cname" name="example_name" value="" style="font-weight: bold;" />
      </div>

      <label class="col-md-3 col-form-label" for="baseFullname"><strong>Actual Repay</strong></label>
      <ng-template  class="w-100" #ct let-c="result" let-t="term">
        <ngb-highlight [result]="" [term]="t"></ngb-highlight>
      </ng-template>
      <div class="col-md-3">
        <input #contactautocomplete disabled #instance="ngbTypeahead" type="text" class="form-control"
          placeholder="Actual Repay" [ngbTypeahead]="searchcontact" [inputFormatter]="formattercontact"
          [resultTemplate]="ct" (selectItem)="selectedcontact($event.item)" />
      </div>
    </div>
    <div class="form-group row ">
      <label class="col-md-3 col-form-label" for="baseFullname"><strong>Select Payment Mode</strong>
        <span style="color: red;">*</span></label>
      <ng-template class="w-100" #cctp let-qcp="result" let-qpt="term">
        <ngb-highlight [result]="qcp.description" [term]="qpt"></ngb-highlight>
      </ng-template>
      <div class="col-md-3">
        <!-- <input #contactautocomplete #instance="ngbTypeahead" type="text" class="form-control"
          placeholder="Search Payment Mode" [ngbTypeahead]="searchpaymenttype" [inputFormatter]="formatterpaymenttype"
          [resultTemplate]="cctp" (selectItem)="selectedpaymenttype($event.item)" 
          [ngClass]="{'is-invalid': submitted && test.paymenttypeid == 0}"/> -->
          <select class="form-control" [(ngModel)]="test.paymenttypeid" (ngModelChange)="getpaymenttypeid()" autofocus="autofocuss">
            <option value=null>Select PaymentMode</option>
              <option *ngFor="let pcatt of inputvalue.paymentType" value="{{pcatt.id}}">{{pcatt.description}}</option>
            </select>
      </div>

      <label class="col-md-3 col-form-label" for="baseFullname"><strong>Commission%</strong></label>
      <ng-template class="w-100" #ct let-c="result" let-t="term">
        <ngb-highlight [result]="c.name" [term]="t"></ngb-highlight>
      </ng-template>
      <div class="col-md-3">
        <input type="number" disabled class="form-control"  name="example_name" value=""
          (ngModelChange)="getamountfun()" placeholder="Enter Payment" />
      </div>
    </div>
    <div class="form-group row ">
      <label class="col-md-3 col-form-label" for="baseFullname"><strong>Payment</strong>
        <span style="color: red;">*</span></label>
      <ng-template class="w-100" #ct let-c="result" let-t="term">
        <ngb-highlight [result]="c.name" [term]="t"></ngb-highlight>
      </ng-template>
      <div class="col-md-3">
        <input type="number"  class="form-control" [(ngModel)]="test.payment" name="example_name" value=""
          (ngModelChange)="getamountfun()" placeholder="Enter Payment" 
          [ngClass]="{'is-invalid': submitted && test.payment == 0}"/>
      </div>

      <label class="col-md-3 col-form-label" for="baseFullname"><strong>Reference</strong></label>
      <div class="col-md-3">
        <input type="text" class="form-control" [(ngModel)]="test.reference" name="example_name" value=""
          (ngModelChange)="getreferencefun()" placeholder="Enter Reference" />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 col-form-label" for="baseFullname"><strong>Location</strong>
        <span style="color: red;">*</span></label>
      <ng-template class="w-100" #crt let-c="result" let-t="term">
        <ngb-highlight [result]="c.name" [term]="t"></ngb-highlight>
      </ng-template>
      <div class="col-md-3">
        <input #contactautocomplete #instance="ngbTypeahead" type="text" class="form-control"
          placeholder="Search Location" [ngbTypeahead]="searchlocation" [inputFormatter]="formatterlocation"
          [resultTemplate]="crt" (selectItem)="selectedlocation($event.item)" 
          [ngClass]="{'is-invalid': submitted && test.locationid == 0}"/>
      </div>


      <label class="col-md-3 col-form-label" for="formControlRange"><strong>Transaction Date</strong></label>
      <div class="col-md-3 pt-2">
        <nz-date-picker class="form-control" [(ngModel)]="date" (ngModelChange)="onChangetime($event)"></nz-date-picker>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 col-form-label" for="formControlRange"> <strong>Total Balance</strong></label>
      <div class="col-md-3 pt-2">
        <input type="text" class="form-control" disabled [(ngModel)]="totalbls" name="example_name" value="" style="font-weight: bold;"
          placeholder=" TotalBalance..." />
      </div>
    </div>

    <button type="button" class="btn btn-secondary px-5" (click)="repaydolarback()">Go Back</button>
    <button type="submit" class="btn btn-success px-5 pull-right" (click)="saverepaydata()">Submit</button>
    <!-- <a href="javascript: void(0);"class="btn btn-success mt-3" (click)="testsave()"></a> -->
  </div>
  <div class="card kit__utils__cardMarked kit__utils__cardMarked--primary mx-5" *ngIf="iseditRepaytable"> 
    <nz-table #basicTable class="kit__utils__table mb-4" [nzData]="repay"  nzSize="small" *ngIf="iseditRepaytable">
      <thead>
        <tr>
          <th><strong>BillId </strong> </th>
          <th><strong>Contact </strong></th>
          <th><strong>Bill Date</strong> </th>
          <th><strong>Credit Amount </strong> </th>
          <th><strong>Paid Amount </strong></th>
          <th><strong>Balance</strong> </th>
          <th><strong> Payment</strong></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ord of basicTable.data">
          <td>
            {{ord.billId}}
          </td>
          <td>
            {{ord.name}}
          </td>
          <td>
            {{ord.billDate}}
          </td>
          <td>
            &#8377;{{ord.billAmount}}
          </td>
          <td>
            &#8377;{{ord.paidAmount}}
          </td>
          <td>
            &#8377;{{ord.billAmount - ord.paidAmount}}
          </td>
          <td>
            <input type="text" class="form-control" [(ngModel)]="test.payment">
          </td>

        </tr>
      </tbody>
    </nz-table>
  </div> 